@model UserInputModel

@{
    ViewData["Title"] = "Home Page";

}

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <div class="text-left">
        <h1 class="display-4">Welcome</h1>
        <p>Please select higher or lower:</p>

        <table>
            <tr>
                <td>Higher</td>
                <td>@Html.RadioButtonFor(m => m.HigherLower, "higher")</td>
            </tr>
            <tr>
                <td>Lower</td>
                <td>@Html.RadioButtonFor(m => m.HigherLower, "lower")</td>
            </tr>

        </table>

        @Html.HiddenFor(m=>m.CurrentValue);

        <button type="submit">Submit</button>
    </div>
}
